h1{
            color: gray;
        }
        h2{
            color: red;
        }
        p{
            color: black;
        }
        body{
            background-color: indianred
        }
        .sub{
            color: blueviolet;
        }
        #manoj{
            color: brown;
        }
        .mat{
            color: yellowgreen;
        }
        #dhoni{
            color: yellow;
        }