h1{
            color: gray;
        }
        h2{
            color: red;
        }
        p{
            color: black;
        }
        body{
<<<<<<< HEAD
            background-color: green
=======
<<<<<<< HEAD
            background-color: red
=======
            background-color: rebeccapurple
>>>>>>> origin/main
>>>>>>> 1e353060828294d14f47d3f17faa94c4b1e91715
        }
        .sub{
            color: blueviolet;
        }
        #manoj{
            color: brown;
        }
        .mat{
            color: yellowgreen;
        }
        #dhoni{
            color: yellow;
        }